nav.menu {
    background-color: #ffffff;
    text-align: center;
    }
    .menu a{text-decoration: none;
        color: #424242;
        padding: 10px;
        font-size: 30px;
        padding: 5px;
        margin-top: 20px;
        text-align: center;
        
        }
        .menu a:hover {
        color: #9A9A9A;
        }
        .txtAdmin{
            text-align: center;
            position: relative;
            font-size: 30px;
            color: #749CFF;
        }
        