.tituloListagem {
    margin-left: 20px;
}

.listaClientes {
    margin-left: 20px;
    font-family:
        'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida
     Sans', Arial, sans-serif;

}

.cabecTabela {
    color: white;
    background-color: #c44d58;
    font-size: 20px;
    text-align: left;
    border-radius: 5px;
    text-align: center;
}

th, td {
    padding: 10px;
    width: 100%;
    background-color: #c44d58;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.tabTituloUsuario {
    width: 100px;
}

.tabTituloNome {
    width: 400px;
}

input[type=text] {
    display: flexbox;
    width: 100%;
    border-radius: 100px;
    padding: 12px;
    margin: 8px 0;
}



input[type=number] {
    padding: 12px;
    width: 50%;
}


.inserir-container {
    margin: 20px;
    border-radius: 5px;
    background-color: #556270;
    padding: 20px;
    text-align: center;
}



.btnSalvar {
    background-color: #4ecdc4;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 5px 5px 30px;
}



.btnCancelar {
    background-color: #c44d58;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}


label {
    padding: 10px;
}

.form-input{
    text-align: center;
}
