.tituloListagem {
    margin-left: 20px;
}

.listaClientes {
    margin-left: 20px;
    font-family:
        'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida
     Sans', Arial, sans-serif;

}

.cabecTabela {
    background-color: #c44d58;
    font-size: 20px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 0px 4px;
    text-align: center;
}

th, td {
    padding: 10px;
    width: 100%;
    background-color: #d7d7d7;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 2px;
}

.tabTituloUsuario {
    width: 100px;
}

.tabTituloNome {
    width: 400px;
}

.inserir-container {
    margin: 20px;
    border-radius: 5px;
    background-color: #d7d7d7;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 4px;
}


.btnSalvar {
    background-color: #9ffa92;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 5px 5px 30px;
}


.btnCancelar {
    background-color: #fe9ea8;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.textLabel{
    color: rgb(85, 85, 85);
}


label {
    padding: 10px;
}

.form-input{
    text-align: center;
}
